

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /* Space out content a bit */
   body {
     padding-top: 20px;
     padding-bottom: 20px;
   }
   .jumbotron {text-align: center;}
   #number-list {
     list-style-type: none;
     margin: 0;
     padding: 1px 0;
   }

   #number-list li {
     vertical-align: top;
     border: 1px solid black;
     margin: 3px .75em 3px 0;
     padding: 1px;
     background-color: black;
     color: white;
     display:inline-block;
     width: 100px;
     height: 100px;
     font-size: 4em;
     text-align: center;
     position: relative;
     cursor: grab;
     cursor: -webkit-grab;
     border-radius: 10px;
   }
   #number-list li:before {
     content: '+';
     color: black;
     position: absolute;
     top: 0;
     left: -.7em;
   }
   #number-list li:first-child:before {
     content: '';
   }
   #number-list li span {
     font-size: .4em;
     position: absolute;
     bottom: .2em;
     right: .4em;
   }
   #results div {
     padding: .2em 0;
     font-size: 4em;
     width: 180px;
     margin: 0 auto;
     position: relative;
   }
   #results > div:before {
     content: '=';
     position:absolute;
     top: 0;
     left: -1em;
     color: black;
   }
   #results div input {
     width: 100%;
     text-align: center;
   }
